:root {
  --background: hsl(260, 23%, 7%);
  --glow-dark: hsl(154, 99%, 55%);
  --pale-light: hsl(164, 67%, 70%);
}

body {
    background: var(--background);
    color: var(--glow-dark);
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    margin: 0;
}

.fa-star {
    position: relative;
    font-size: 60px;
    color: var(--glow-dark);
    text-shadow: var(--glow-dark) 0 0 10px;
    /* transform: translate3d(50px, 50px, 0); */
}

.fa-star.glow {
    will-change: transform;
    animation: fade 1500ms ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        color: var(--glow-dark);
        text-shadow: var(--glow-dark) 0 0 30px;
        opacity: 1;
    }
    100% {
        text-shadow: var(--glow-dark) 0 0 40px;
        opacity: 0;
    }
}
